*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif !important;
}

body {
    margin: 0;
    background: url('/background.svg') no-repeat center center / cover !important;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.pointer {
    cursor: pointer;
}

.active::after {
    content: '';
    height: 2px;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--accent-indicator);
}

.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}