*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif !important;
}

body {
    margin: 0;
    background: url('/background.svg') no-repeat center center / cover !important;
}